html
{
    
    background: #add8e6;
}

body
{
    font-size:15px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color:#484645;
    margin:0;
    line-height:1.6;
  
}

header img
{
    margin: 20px 0 10px 500px;;
    
}

header, article
{
    width:80%;
    margin: 0px auto;
    background-color: white;
}

nav
{
    background-color: #c30f10;
    padding:
   
}

nav a, nav a:hover, nav a:visited, nav a:active

{
    color:white;
    padding:10px 20px;
    display:inline-block;
    text-transform:uppercase;
}

nav a
{
    
    text-decoration: none;
}

nav a:hover
{
    
    text-decoration: underline;
}

nav ul
{
    list-style: none;
    margin:0 350px;
}

nav ul li
{
    
    display:inline-block;
}

a, a:hover, a:visited, a:active
{
    color: #87CEFA;
    font-weight:bold;
}

h2, h3
{
    color: #87CEFA;
}

article
{
    padding :20px 40px;
    box-sizing: border-box;

    border-bottom: 2px solid #87CEFA;
    min-height:600px;
}

article img
{
    float:right;
    margin-right:50px;
    margin-bottom:50px;
}

footer
{
    padding-top: 15px;
    min-height: 30px;
    background: #7b7775;
    color:white;
    text-align:center;
}

table
{
    border-collapse: collapse;
}

td, th
{
    font-size:12px;
    border: solid 1px #6d6c6c;
    padding:5px 3px;

}

th
{
    color:#6d6c6c;
    background-color: #f0f0f0;
    height:30px;
}

td:nth-child(4)
{
    text-align: right;
    padding-right: 5px;
}

tr:nth-child(odd)
{
    background-color: #e0f7fa;
}

iframe
{
    margin-top:20px;
}

fieldset
{
    width:50%;
    margin-bottom:15px;
    background-color:#f0f0f0;
}

fieldset legend
{
    color: #87CEFA;
    font-weight:bold;
}

label
{
    display:inline-block;
    width:30%;
}

input[type=radio] + label, input[type=checkbox] + label
{
    width:auto;
}

select, input[type=text], input[type=email], textarea
{
    box-sizing: border-box;
    width:60%;
    margin-bottom: 5px;
}

input[type=checkbox]
{
    margin-left:30%;
}

button
{
    background-color: #87CEFA;
    color:white;
    font-weight:bold;
    border:none;
    padding:10px 30px;
    border-radius:5px;
    
}